{% set classes = 'link-button' %}
{% for item in items %}
  {% set url = item.content['#url'] %}
  {% set title = item.content['#title'] %}

  {% if url.toString() != '' %}
    <a {{ attributes.addClass(classes) }} type="button" href="{{ url }}">{{ title }}</a>
  {% else %}
    <div v-popup=""><a {{ attributes.addClass(classes) }} type="button" href="#">{{ title }}</a></div>
  {% endif %}

{% endfor %}
