{%
  set body_classes = [
  logged_in ? 'user-logged-in',
  not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
  node_type ? 'page-node-type-' ~ node_type|clean_class,
  db_offline ? 'db-offline',
]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  <script>
      window.dataLayer = [{
          'global':{
              'siteType':'standard',
              'brand':'1055'
          }
      }]
  </script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
          {'gtm.start': new Date().getTime(),event:'gtm.js'}
      );var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5VC9PV7');</script>
  <!-- End Google Tag Manager -->
  <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
      </head>
<body{{ attributes.addClass(body_classes) }}>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VC9PV7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script>
  window.isLogin = {{is_user_login}};
</script>
<div id="beam-front">
  <div class="age-gate-container" v-bind:class="{'is-active': showAgeGate}">
    {% include '@beam_theme/layout/includes/age-gate.html.twig' %}
  </div>
  <div>
    {% include '@beam_theme/layout/includes/popup.html.twig' %}
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
  </div>
</div>
<js-bottom-placeholder token="{{ placeholder_token }}">
</body>
</html>
